header{
    text-align: center;
}
header{
    background-color: rgb(154, 255, 255);
    font-size: 1.9em;
    border: 2px solid #a09b9b;
    padding: 10px;
}
h1{
    text-align: center;

}
main{
    background-color: aquamarine;
}
form{
    font-size: 18px;  /* размер шрифта */
    line-height: 28px;  /* высота строки (2 * 16px) */
    padding: 3%;
}